<h1>Create A New Todo!</h1>

<form method="POST" action="/todos">

<div>

<label for="description">Description: </label>

<input name="description"></input>
</div>

<div>

</div>


<label for="urgent">Urgent: </label>

<span>Yes</span><input type="radio" name="urgent" value="true" checked>
<span>No</span><input type="radio" name="urgent" value="false"> 

<span>No</span>

<button>Submit</button>

</form>

<br>

<a href="/todos>Go Back</a>


