<h1>Edit User</h1>

<form action="/users" method="POST">
	<input type="email" placeholder="email" name="email" value="{{user.email}}" required>
	<input type="text" name="first_name" placeholder="first_name" value="{{user.first_name}}" required>
	<input type="submit" value="Create">
</form>
